:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image: url('../assets/images/pexels-victor-freitas-949126.jpg');
  background-size: 100%;

  header {
    display: flex;
    align-items: center;
    justify-content: center;



    h1 {
      margin: 0 10px;

      font-family: "Anton", sans-serif;
      font-size: 10rem;
      text-transform: uppercase;
      color: var(--firstColor);

      text-shadow: 5px 5px 5px #000;
      letter-spacing: 5px;
    }
  }

  main {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    flex-grow: 1;
    color: red;
    background-image: linear-gradient(hsla(0,0%,100%,0),#000);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 20px 0px;

    background-color: var(--secondColor);
    font-family: "Roboto Condensed", sans-serif;
    color: var(--firstColor);

    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      list-style: none;

      li {
        margin: 0 10px;
      }
    }
  }
}

@media(max-width: 1115px){
  :host {
    header {
      h1 {
        font-size: 7rem;
      }
    }
  }
}

@media(max-width: 1020px){
  :host {
    footer {
      flex-direction: column;
      justify-content: center;

    }
  }
}

@media(max-width: 620px){
  :host {
    header {
      h1 {
        font-size: 4rem;
      }
    }
  }
}

@media(max-width: 400px){
  :host {
    header {
      h1 {
        font-size: 3rem;
        letter-spacing: 2px;
      }
    }
  }
}
