:host {
  display: flex;
  justify-content: center;
  // padding: 0px 5%;

  .area-result {
    margin: 0px;
    background-color: #ffffff1a;
    backdrop-filter: blur(5px);
    margin-bottom: 24px;

    width: 80%;
    padding: 16px;
    border-radius: 8px;

    color: #FFF;
    text-shadow: 0px 1px 4px #000000c4;
    font-family: "Roboto Condensed", sans-serif;

    .high-light {
      font-weight: bold;
    }

    .macronutrients-result-content {
      display: flex;
      justify-content: space-around;
      margin-top: 8px;
      gap: 8px;

      .macro-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        flex-direction: column;

        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        padding: 8px;
        width: 140px;
        height: 100px;
        text-align: center;
        border-radius: 8px;

        box-shadow: 0px 1px 16px #0000004b;
      }
    }

    .explanation-area-result {
      margin-top: 16px;

      p {
        margin-top: 16px;
        text-indent: 24px;
        font-size: 14px;
      }

      .warning-area {
        background-color: #ff636349;
        margin-top: 16px;
        padding: 16px;

        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        h4 {
          text-align: center;
          margin-bottom: 8px;
        }

        p {
          margin-top: 16px;
        }
      }
    }
  }
}

@media(max-width: 600px){
  :host {
    .area-result{
      .macronutrients-result-content {
        align-items: center;
        flex-direction: column;
      }
    }
  }
}
