<section>
  <div class="rail"  [style.left.%]="railPosition*100">

    <div class="card">
      <h2>Olá! Seja muito bem-vindo!</h2>
      <h3>Aqui você poderá descobrir com detalhes qual
        é a sua taxa de matabolismo basal e qual o consumo
        ideal de macronutrientes indicados para seu
        objetivo, seja emagracimento ou hipertrofia
        muscular.
      </h3>
    </div>

    <div class="card">
      <h2>Digite seu peso em kg</h2>
      <div class="input-content">
        <label>
          <input
            type="number"
            min="0"
            placeholder="Ex.: 75.5 kg"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 1)"
            [(ngModel)]="userData.weight"
            id="1"
          > Kg
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Digite sua altura em centímetros (cm)</h2>
      <div class="input-content">
        <label>
          <input
            type="number"
            min="0"
            placeholder="Ex.: 185 cm"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 2)"
            [(ngModel)]="userData.height"
            id="2"
          > cm
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Digite sua idade</h2>
      <div class="input-content">
        <label>
          <input
            type="number"
            min="0"
            placeholder="Ex.: 25 anos"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 3)"
            [(ngModel)]="userData.age"
            id="3"
          > ano(s)
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Selecione o seu nível de atividade</h2>
      <div class="input-content">
        <label>
          <!-- <input
            type="text"
            placeholder="Ex.: 75.5 kg"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 4)"
            id="4"
          > Kg -->
          <select
            class="inputStyled"
            title="Escolha a opção que representa sua atividade semanal"
            [disabled]="!(railPosition*-1 === 4)"
            [(ngModel)]="userData.activity"
          >
            <option [ngValue]="UserDataActivity.SEDENTARY">Sedentário (Nenhum ou pouco exercício)</option>
            <option [ngValue]="UserDataActivity.SLIGHTLY">Levemente ativo (1 a 3 dias de exercício por semana)</option>
            <option [ngValue]="UserDataActivity.MODERATELY">Moderadamente ativo (3 a 5 dias de exercício por semana)</option>
            <option [ngValue]="UserDataActivity.HIGHLY">Altamente ativo (exercício pesado de 5 a 6 dias por semana)</option>
            <option [ngValue]="UserDataActivity.EXTREMELY">Extremamente ativo (exercício pesado diariamente e até 2 vezes por dia)</option>
          </select>
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Selecione seu sexo</h2>
      <div class="input-content">
        <label class="no-width">
          <input
            type="radio"
            title="Sexo masculino."
            name="sex"
            [value]="UserDataSex.MALE"
            [disabled]="!(railPosition*-1 === 5)"
            [(ngModel)]="userData.sex"
          > Masculino
        </label>
        <label class="no-width">
          <input
            type="radio"
            title="Sexo feminino."
            name="sex"
            [value]="UserDataSex.FEMALE"
            [disabled]="!(railPosition*-1 === 5)"
            [(ngModel)]="userData.sex"
          > Feminino
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Por fim, o seu objetivo:</h2>
      <div class="input-content">
        <label class="no-width">
          <input
            type="radio"
            title="Hipertrofia."
            name="goal"
            [value]="UserDataGoal.HYPERTROPHY"
            [disabled]="!(railPosition*-1 === 6)"
            [(ngModel)]="userData.goal"
          > Hipertrofia
        </label>
        <label class="no-width">
          <input
            type="radio"
            title="Emagrecimento."
            name="goal"
            [value]="UserDataGoal.LOSEWEIGHT"
            [disabled]="!(railPosition*-1 === 6)"
            [(ngModel)]="userData.goal"
          > Emagrecimento
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Conclusão</h2>
      <div class="input-content" [ngStyle]="{'flex-direction': 'column'}">
        <p>Estando tudo corretamente preenchido, clique agora em "Concluído".</p>
        <button
          title="Concluído"
          [disabled]="!(railPosition*-1 === 7)"
          (click)="done()"
          style="margin-top: 8px;"
        >
          ✓ CONCLUÍDO
        </button>
        <p *ngIf="errorMessage && railPosition < -6" class="error-message">
          {{errorMessage}}
        </p>
      </div>
    </div>

  </div>

  <div class="panel">
    <button
      title="Voltar"
      (click)="changeRailPosition(false)"
      [style.width.%]="railPosition < 0 ? (railPosition < -6 ? 100 : 50) : 0"
    >
      << VOLTAR
    </button>
    <button
      title="Avançar"
      (click)="changeRailPosition(true)"
      [style.width.%]="railPosition < 0 ? (railPosition < -6 ? 0 : 50) : 100"
      [disabled]="railPosition < -6"
    >
      AVANÇAR >>
    </button>
  </div>
</section>
