:host {
  section {
    overflow: hidden;
    width: 600px;
    height: 200px;
    margin: 5px 0px;
    /* padding: 0px 15px; */

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.464);

    font-family: 'Inter', sans-serif;
    color: var(--thirdColor);

    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 5px;

    .rail {
      display: flex;

      position: relative;
      left: 0px;
      /* background-color: red; */
      height: 80%;
      width: 200%;

      transition: 1s;

      .card {
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        padding: 0px 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    .panel {
      display: flex;
      height: 20%;
      border-top: 1px solid white;

      button {
        overflow: hidden;
        /* width: 50%; */
        height: 100%;

        background-color: transparent;
        font-family: 'Inter', sans-serif;
        border: none;
        border-left: 1px solid white;

        color: white;
        font-weight: 800;

        transition: .3s;

        &:hover {
          background-color: white;
          color: black;
          cursor: pointer;
          font-size: 1rem;
        }
      }
    }

    h2 {
      text-align: center;
    }
  }
}

@media(max-width: 600px) {
  :host {
    width: 100%;

    section {
      width: 100%;
      border-radius: 0px;
    }
  }
}
