<section>
  <div class="rail"  [style.left.%]="railPosition*100">

    <div class="card">
      <h2>Olá! Seja muito bem-vindo!</h2>
      <h3>Aqui você poderá descobrir com detalhes qual
        é a sua taxa de matabolismo basal e qual o consumo
        ideal de macronutrientes indicados para seu
        objetivo, seja emagracimento ou hipertrofia
        muscular.
      </h3>
    </div>

    <div class="card">
      <h2>Digite seu peso em kg</h2>
      <div class="input-content">
        <label>
          <input
            type="text"
            placeholder="Ex.: 75.5 kg"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 1)"
            id="1"
          > Kg
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Digite sua altura em centímetros (cm)</h2>
      <div class="input-content">
        <label>
          <input
            type="text"
            placeholder="Ex.: 185 cm"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 2)"
            id="2"
          > cm
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Digite sua idade</h2>
      <div class="input-content">
        <label>
          <input
            type="text"
            placeholder="Ex.: 25 anos"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 3)"
            id="3"
          > ano(s)
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Selecione o seu nível de atividade</h2>
      <div class="input-content">
        <label>
          <input
            type="text"
            placeholder="Ex.: 75.5 kg"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 4)"
            id="4"
          > Kg
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Marque a opção que corresponda ao seu sexo</h2>
      <div class="input-content">
        <label>
          <input
            type="text"
            placeholder="Ex.: 75.5 kg"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 5)"
            id="5"
          > Kg
        </label>
      </div>
    </div>

    <div class="card">
      <h2>Por fim, o seu objetivo:</h2>
      <div class="input-content">
        <label>
          <input
            type="text"
            placeholder="Ex.: 75.5 kg"
            title="Digite aqui seu peso em quilogramas."
            [disabled]="!(railPosition*-1 === 6)"
            id="6"
          > Kg
        </label>
      </div>
    </div>

  </div>

  <div class="panel">
    <button
      title="Voltar"
      (click)="changeRailPosition(false)"
      [style.width.%]="railPosition < 0 ? 50 : 0"
    >
      << VOLTAR
    </button>
    <button
      title="Avançar"
      (click)="changeRailPosition(true)"
      [style.width.%]="railPosition < 0 ? 50 : 100"
    >
      AVANÇAR >>
    </button>
  </div>
</section>
